html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Telegraf-Regular';
    src: url(../../assets/fonts/PPTelegraf-Regular.woff2) format('woff2');
    src: url(../../assets/fonts/PPTelegraf-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Telegraf-Ultralight';
    src: url(../../assets/fonts/PPTelegraf-UltraLight.woff2) format('woff2');
    src: url(../../assets/fonts/PPTelegraf-UltraLight.woff) format('woff');
}

:root {
    --dark: #0F0E0E;
    --light: #FFFFF0;
}

.info {
    padding: 10vh 2.5vw;
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.bio {
    font-family: 'Telegraf-Ultralight';
    text-align: center;
    font-size: 7vw;
    color: var(--light);
}

.status {
    width: 75dvw;
    font-family: 'Telegraf-Regular';
    font-size: 4vw;
    color: var(--light);
    text-align: center;
}

.link-group {
    width: 25vw;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.link-box {
    clip-path: inset(0);
}

div a.link {
    color: #FFFFF0;
}

@media screen and (min-width: 900px) {
    .bio {
        font-size: 2.5vw;
    }

    .status {
        width: 50dvw;
        font-family: 'Telegraf-Regular';
        font-size: 1.25vw;
        color: var(--light);
    }
    
    .link-group {
        gap: 0vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
.bio {
    font-size: 3vw;
}
.status {
    font-size: 1.75vw;
}
}