.App {
  background-color: var(--dark);
  width: 100vw;
  min-height: 100vh;
}

:root {
  --dark: #0F0E0E;
  --light: #FFFFF0;
}

.App::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Telegraf-Regular';
  src: url(./assets/fonts/PPTelegraf-Regular.woff2) format('woff2');
  src: url(./assets/fonts/PPTelegraf-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Telegraf-Ultralight';
  src: url(./assets/fonts/PPTelegraf-UltraLight.woff2) format('woff2');
  src: url(./assets/fonts/PPTelegraf-UltraLight.woff) format('woff');
}