body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Telegraf-Regular';
  src: url(./assets/fonts/PPTelegraf-Regular.woff2) format('woff2');
  src: url(./assets/fonts/PPTelegraf-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Telegraf-Ultralight';
  src: url(./assets/fonts/PPTelegraf-UltraLight.woff2) format('woff2');
  src: url(./assets/fonts/PPTelegraf-UltraLight.woff) format('woff');
}
